body {
background-color: rgb(194,194,214);
}
#ui {
width: 800px;
}
#ui-but {
  width: 200px;
  text-align:center;
}
.table {
  background-color: rgb(217, 217, 217);
  border: dashed black;
  width: 800px;
}
#para {
  width: 800px;
}
h1 {
  font-family: Helvetica, sans-serif;
}
/* CSS for JavaScript.html */
#dancing-bit {
  width: 350px;
  length: 200px;
}
#racing-bit {
  width: 350px;
  length: 200px;
}
#decision-bit {
  width: 350px;
  length: 200px;
}
#follow-bit {
  width: 350px;
  length: 200px;
}
#zoo-bit {
  text-align: center;
  width: 50%;
  length: 200px;
}
#tag-bit {
  text-align: center;
  width: 50%;
  length: 200px;
}
  
